body {
    font-family: 'Roboto' !important;
}

input[type="checkbox"] {
/*    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;*/
    border: 1px solid #c8c6c6;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    outline: none;
    margin-top: 20px;
}

.text-white {
    color: #fff;
}
.text-gris {
    color: #8f8f8f;
}
.text-turqueza {
    color: #00c3a3;
}

.mt {
    margin-top: 10%;
}

.bg-yellow {
    background-color: #fbd43b;
}

.bg-lila {
    background-color: #451e36;
}

.bg-morado {
    background-color: #38052a;
}

input[placeholder="Mes"],
input[placeholder="Año"] {
    height: 50px;
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.bottom input {
    height: 50px;
    width: 100%;
    outline: none;
    border: 0;
    text-align: center;
}

.bottom {
    border-bottom: 1px solid #999;
}

.icono {
    height: 50px;
    padding-bottom: 10px;
}

.btn-yellow {
    background-color: #fbd43b;
    color: white;
    width: 100%;
    font-size: 3rem;
    margin: 10% 0;
}

.item img {
    width: 65% !important;
    display: inline !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #f64552;
}
